<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    {% block head %}
    <!-- CSS mặc định -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    {% endblock %}
</head>

<body class="">
    <!-- Header -->
    <header class="bg-white shadow-md">
        <nav class="container mx-auto flex justify-between items-center py-4 px-6">
            <!-- Logo -->
            <a href="/" class="text-2xl font-bold text-blue-600">Weather App</a>
            <!-- Navigation Links -->
            <ul class="flex space-x-6">
                <li><a href="/rainfall" class="text-gray-700 hover:text-blue-600">Rainfall</a></li>
                <li><a href="/storm" class="text-gray-700 hover:text-blue-600">Storm</a></li>
                <li><a href="/sunny" class="text-gray-700 hover:text-blue-600">Sunny</a></li>
                <li><a href="/uv" class="text-gray-700 hover:text-blue-600">UV Index</a></li>
                <li><a href="/visibility" class="text-gray-700 hover:text-blue-600">Visibility</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Content -->
    <div class="p-14">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-white shadow-md mt-10 ">
        <div class="container mx-auto py-6 px-6 text-center">
            <p class="text-gray-600">© 2025 Weather App. All rights reserved.</p>
        </div>
    </footer>

    {% block scripts %}
    <!-- JavaScript mặc định -->
    {% endblock %}
</body>

</html>